@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}

h2, h3 {
  color: #41918f;
}

span {
  font-weight: 700;
}

.jumbotron {
	font-size: 20px;
	padding: 60px;
	background-color: #62C4C3;
  background-image: url('../images/jumbotron.png');
  background-repeat: no-repeat;
  background-position: center;
	text-align: center;
	color: white;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

.featured-image {
	width: 100%;
	max-height: 120px;
	object-fit: cover;
	object-position: top;
}

/* NAVBAR */
nav {
	background-color: #41918f;
	padding: 5px;
}
nav ul {
  align-items: center;
  justify-content: center;
  padding-inline-start: 20px;
  display: flex;
}
nav li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}
nav a {
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: white;
}
nav a:hover, nav a.active {
	color: black;
}
nav span {
  visibility: hidden;
  display: none;
}
/* END NAVBAR */

main {
  padding: 0px 20px 20px 20px;
  overflow: auto;
}

/* CONTENT */
#content {
	float: left;
	width: 75%;
}
article h2 {
  margin-top: 0px;
}
article.card {
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 0px;
  cursor: pointer;
}
article.card img {
  margin-bottom: 10px;
}
article.card span.title {
  font-weight: bold;
  margin: 0px 20px;
}
article.card p {
  margin: 10px 20px 20px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#popular, #traveling, #investing, #programming {
  display: flex;
  flex-direction: row;
}
/* END CONTENT */

/* ASIDE */
aside {
	float: right;
	width: 25%;
	padding-left: 20px;
}
aside article.card {
  padding: 20px;
  margin-top: 20px;
}
.profile header {
	text-align: center;
}
.profile figure {
	margin: 0px;
}
.profile img {
	width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  margin-top: 20px;
}
.profile table {
  width: 100%;
	text-align: left;
}
.profile table tr {
  height: 25px;
}
.profile a {
  text-decoration: none;
  color: #41918f;
  font-weight: 700;
}
/* END ASIDE */

/* FOOTER */
footer {
  margin-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #41918f;
  text-align: center;
  font-weight: bold;
}
section.information {
  background-color: black;
  margin-bottom: 30px;
  padding: 10px 0px;
}
section.information ul {
  padding-inline-start: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section.information ul li {
  display: inline;
	list-style-type: none;
	margin-right: 20px;
}
section.information ul li a {
  color: #62C4C3;
  text-decoration: none;
}
section.information ul li a:hover {
  color: #82eceb;
}
span#yearNow {
  font-weight: bold;
}
/* END FOOTER */